@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Source Sans 3';
}
header{
    background: #363D42;
    height: 55px;
    padding: 10px;
   
}
nav{
    width: 100%;
    height: 100%;
    margin-top: 5px;
}
ul{
    list-style: none;
    display: block;
    float: right;
}
nav a{
text-decoration: none;
color: black;
background:white;
padding: 5px;
font-size: 20px;
border-radius: 3px;
margin: 0px;
}

section{
    text-align: center;
    max-width: 100%;
    padding: 0 13%;
  
}
.row1,.row2,.row3,.row4{
    background:#69757C ;
    margin: 5px 0;
    width: 100%;
    align-items: center;
    justify-content: center;
      display: flex;
    color: white;
    border-radius: 3px;
}
.row1{
    height: 80px;
}
.row2{
    height: 125px;
}
.row1 input{
    background:white;
   
   flex: 0 70%;
    height: 50%;
    width: 100%;
    color: black;
    border:1px solid #ccc;
    text-align: left;
    padding: 5px;
    border-radius: 3px;
}
.post-here{
    background: white;
    width: 15%;
    height: 50%;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-left: 2%;
}
.row2 p{
    font-size: 30px;
}

/* LOG IN & REGISTRATION PAGE */


.login,.register{
    display: block;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}

.loginform,.registerform{
    display: flex;
    flex-direction: column;
    width: 100%;
  
    padding: 20px 20px;
  }
  .login p, .register p{
background: #f7f7f7;
text-align: left;
padding: 10px;
font-size: 20px;
border:1px solid #e6e6e6
}
input{
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 3px;
    margin: 3px 0;
    font-size: 16px;
    border: 1px solid #e6e6e6;
}
input:focus,
input:active{
    outline: none;
    background: #fff;
}
#loginbtn,#registerbtn{
    width: 18%;
   height: 40px;
    background-color: #69757C;
    border-radius: 3px;
    border: 1px solid #69757C;
    color: #fff;
    margin-top: 6px;
    font-size: 16px;
    
}
.login_sec,.register_sec{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ABOUT US PAGE */

.aboutus-sec{
    padding: 0 25%;
}

.aboutus-sec .row1,
.aboutus-sec .row2,
.aboutus-sec .row3,
.aboutus-sec .row4
{
width: 100%;
height: 100%;
background: #fff;
margin: 10% 0;
align-items: flex-start;

}

.aboutus-sec .row2,
.aboutus-sec .row4{
    flex-direction: row-reverse;
}



.col2{

    padding: 0 10px;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 3px;
  
}
.aboutus-sec p,
.aboutus-sec .row1 p{
    border: none;
    text-align: left;
    color: black;
    background: transparent;
    padding: 5px 0;
    font-size: 20px;

}
.aboutus-sec h3{
    color: black;
    text-align: left;
    margin-bottom: 3px;
}

/* TABLE PAGE */
.table_sec{
    padding: 0 10%; 
}
table{
    width: 100%;
    height: 100%;
    background: transparent;
    border-collapse: collapse;
}
tr{
       font-size: 20px;
       padding: 5px;
}
th{
    font-size: 20px;
    padding: 10px 0;
    background: #E7EBEE;
   
}
.table-header{
    background:#E7EBEE ;

}
.user_details{
    height: 40px;
border-bottom: 1px solid #edf0f2 ;
}
td a{
    text-decoration: none;
    color: red;
}